<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>Home</title>
        <link rel="stylesheet" href="home.css" />
</head>

<body>
    <main>
        <div class="mask-dark">
            <div class="vcenter w-100 h-100">
                <h1 class="title"><i class="bi bi-journal-bookmark-fill"></i> BookHive</h1>
                <p class="caption fw-light fs-3 mt-2 text-white">Library Management, simplified!
                </p>
                <a href="/register"><button
                        class="btn btn-light fs-6 text-uppercase fs-6 btn-lg rounded-pill px-4 py-2 mt-4">Register</button></a>
                <a href="/login"><button
                        class="btn btn-light fs-6 text-uppercase fs-6 btn-lg rounded-pill px-4 py-2 mt-3">Log
                        in</button></a>
            </div>
        </div>
    </main>

</body>

</html>